<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<connectionStrings>
		<add name="DBConnection"
			connectionString="Data Source=DESKTOP-8JU8OJM\SQLEXPRESS;Initial Catalog=IMS;User ID=IMS;Password=admin;Persist Security Info=False;Integrated Security = True;TrustServerCertificate=True"
			providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>



